title: Kaushik Manchella
email: your-email@example.com
description: >-
  Personal website and portfolio
baseurl: ""
url: "https://kmanchel.github.io"

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
